.navbar {
	text-align: right;
}

li {
	display: inline;
	padding-left: 5px;
}

ul {
	padding-right: 5px;
}

#connexion-btn {
	background-color: #4885ed;
	border: none;
	width: 80px;
	color: white;
	height: 35px;
}

.fa-th {
	font-size: 1.2em;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #757575;
    background: #f2f2f2;
    padding-bottom: 15px;
    border-top: 1px solid rgba(11, 11, 11, 0.2);
    font-size: 12px;
}

.right {
	text-align: right;
    display: table-cell;
    white-space: nowrap;
    padding-right: 15px;
}

.left {
	display: table-cell;
    width: 100%;
}

a {
	padding-left: 15px;
	color: #757575;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	margin:0;
  font-family: Arial;
  font-size: 13px;
}

#country {
	padding-left: 15px;
	border-bottom: 1px solid rgba(11, 11, 11, 0.2);
	padding-bottom: 10px;
}

#logo-google
    {
      background-image: url(https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png );
      background-repeat: none;
      margin-top: 50px;
      margin :0 auto;
      width : 272px;
      height: 92px;
      text-align: center;
    }

#barrerecherche
{
  margin-top:20px;
  margin-left:30%;
  margin-right: 30%;
  height : 40px;
  box-shadow: 0px 5px 10px 0px #cfcfcf;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=10);

}
#barrerecherche:hover
{
  box-shadow: 0px 5px 10px 0px #9b9b9b;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=180, Strength=10);

}

#writing-zone
{
  width:100%;
  border:0.5px solid white;
  height:inherit;
}
#boutons
{
  display: block;
  text-align: center;
  margin-top:20px;
}
.bouton-recherche
{
  -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1px;
  font-family: Arial;
  color: #757575;
  font-size: 13px;
  background: #f2f2f2;
  padding: 10px 20px 10px 20px;
  border: solid #f2f2f2 2px;
  text-decoration: none;
  min-width: 54px;
  text-align: center;
  margin: 11px 4px;
  height:36px;
}

.bouton-recherche:hover
{
  box-shadow: 0px 1px 2px 0px #9b9b9b;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=180, Strength=5);
  font-weight: bold ;

}

#text-ss-btn
{
  text-align:center;
  margin-top:10px;
  color: #757575;
}
#main {
  margin-top: 8%;
}